@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  transition: height 0.3s ease-in-out; /* Adjust duration and timing as needed */
}

.header.h-full {
  height: 100vh; /* Adjust height value if needed */
}


::-webkit-scrollbar {
  display: none;
}

* {
  scroll-behavior: smooth
}
@layer utilities {
  
  .text-balance {
    text-wrap: balance;
  }
}
